# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 211df8f89be9ba0183d53fe14d7781cf1300f8b6788fad125127dc283934f81d53b292fe80043d6e2050257621da0cd95f2d0ffb62c6d08a0339cbb39b98efa9

test:
  secret_key_base: 9c37fbda804f1de0f2c1a1aedbe0b258c256e9b212d5974a4507f9946fdc83483759a902beead6c2e8a4c8f46cc03bd26c227a8721d3c68f45dfa9d44f17e4e8

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
